   <footer>

        <div class="container">

        <div class="row">
        <div class="col-lg-4">
<!--
        <h2>Vacation Resources</h2>
        Timeshare News<br>
        Timeshare Search<br>
        Top Timeshare Destinations (...)<br>
        Timeshare Forum<br>
        Timeshare Resources<br>
        Timeshare Newsletter<br>
        Developer Information<br>
-->

        <br>
        <h4><a href="#">Add A Free Listing</a></h4>

        </div>
        <div class="col-lg-4">
<!--            
        <h2>Company Information</h2>
        News<br>
        About Us<br>
        Contact Us <br>
        Blog, FB, TW, Auto Bots<br>
        Terms Of Service<br>
        Privacy Policy<br>
        Advertising<br>
-->
        <br>
        <h4><a href="tel:8777273718">Need Help? Call Us! 877-727-3718</a> </h4>
        </div>
        <div class="col-lg-3 pull-lg-1">
        <br>
        
        <h4>&copy; Total Travel Marketing, Inc.</h4>
        </div>
        </div>

        <br>
        ADSENSE

        </div>
        <br>

    </footer>

    <script src="//code.jquery.com/jquery.js"></script>
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    {{ scripts }}

    <script>
        $(document).ready( function() {
//              $("#auto-top").typeahead({source:, highlighter:});
//                $("#auto-top").autocomplete({source:['a','b','c']});

        } );
    </script>