{% extends "layout_angular.html" %}

{% block extra_css %}
<style type="text/css">
   .labels {
     color: red;
     background-color: white;
     font-family: "Lucida Grande", "Arial", sans-serif;
     font-size: 10px;
     font-weight: bold;
     text-align: center;
     width: 40px;
     border: 2px solid black;
     white-space: nowrap;
   }

.infoWindow {
        border:0px none; opacity:1; background:transparent;
        width:50px; color:red; text-align:center; opacity:1;
            }
            
    #map_canvas { float:left; width:100%;height:500px; }
            
</style>
{% endblock %}



{% block content %}

<div class="row"  ng-controller="searchResultsCtrl">
    <div class="col-lg-6">

    Block List: {{ data.features|length }}

    Location: <select ng-options="item.label for item in locations" ng-model="formLocation" ng-change="panToLocation()">
    </select>

    <input type=text ng-model="formInput" id="queryInput" value="" />

    <input type=button value="Search" ng-click="doSearch()" />
    
    <input type=button value="Load" ng-click="doLoad()" />
        
    <br><br>
    
    <div id="map_canvas"></div>

    </div>
    <div class="col-lg-6">
        
        <div id="name"></div>
        <div id="results">
        
        {% raw %}
        Pending: {{ countKeys(queue.pending) }} <a href="#" ng-click="show('pending')">Show</a> |
        Loading: {{ countKeys(queue.loading) }} <a href="#" ng-click="show('loading')">Show</a> |
        Blocked: {{ countKeys(queue.blocked) }} <a href="#" ng-click="show('blocked')">Show</a> |
        Processed: {{ countKeys(queue.loaded) }} <a href="#" ng-click="show('loaded')">Show</a> 
        {% endraw %}
        <br>
        
        <table width=100%>
        <thead>
        <colgroup>
            <col width=50% />
            <col width=15% />
            <col width=35% />
        </colgroup>
        <tr>
            <th align=center>Name</th>
            <th align=center>Address/Phone</th>
        </tr>
        </thead>    
        <tbody>
            {% raw %}
            <tr ng-repeat="(id, row) in data">
            <td>{{row.name}}</td>
            <td>{{row.website}}</td>
            <td>{{row.formatted_address}} <br> {{row.formatted_phone_number}} <br>
            {{row.geometry.location.lat()}}, {{row.geometry.location.lng()}}
            </td>
            </tr>
            {% endraw %}
        </tbody>
        </table>


    </div>
</div>

<input type=button value="Save Markers" ng-click="saveMarkers()" /><br>

</div> <!-- /row -->


{% endblock %}


{% block extra_js %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places"></script>

<script type=text/javascript src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxQ82LsCgTSsdpNEnBsExtoeJv4cdBSUkiLH6ntmAr_5O4EfjDwOa0oZBQ"></script>

<script type="text/javascript">
var map;
var marker;
var data = {'places':{}, 'radar':[]};
var key = "AIzaSyDwpRW_E84Acc2rHc_k3mzEuFs81zEtP7w";

/*
row = {"name":"", "email":"", "website":"", "location":"", "phone":"", "status":"Entered", "tags":"NYC Timesquare"}
*/


function savemarkers() {

        i=0;
        for (key in data['radar']) {
                row = data['radar'][key];

                setTimeout("getDetails('" + row.ref + "')", i*500);
                i++;
        }

        setTimeout("save_data("+i+")", (i+5)*500);
}


function addRow( row ) {

    scope = angular.element("#results").scope();
    scope.$apply(function() {
        scope.data.push( row ); 
    });
    
}

function save_data(cnt) {
        //$.post('save_gmap.cgi', {result:JSON.stringify(data['places'])});

        tbl = $('#results table');
        for (i in data['places']) {
                row = data['places'][i];
                console.log(row);

                addRow( row );
        }

        alert("Saved " + cnt + " places");
}


function initialize() {
    
        var myOptions = {
            mapTypeControl:false,overviewMapControl:false,panControl:false,rotateControl:false,scaleControl:false,streetViewControl:false,zoomControl:true,
            zoom: 12,
            center: new google.maps.LatLng(27.914643031621768, -82.74971008300781),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }

        map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        marker = new google.maps.Marker({map:map});
}


searchResultsCtrl = app.controller("searchResultsCtrl", function($scope, $log, $window) {

    $scope.activeMarkers = [];
    
    $scope.queue = {
        'pending': {},
        'loaded': {},
        'loading': {},
        'saved': {},
        'blocked': {},
        '_all': {},
    };

    $scope.countKeys = function(q) {
        return Object.keys(q).length;    
    };
    
    // Results loaded into table
    $scope.data = [];
    $scope.formInput = "used car dealer";

    // top 20 metro areas: XXX
    $scope.locations = [
        {'id': 1, 'pos':'27.914643031621768, -82.74971008300781', 'label':'Clearwater, FL', 'zoom': 12},
        {'id': 1, 'pos':'27.9539142,-82.4415314', 'label':'Ybor City, FL', 'zoom': 12},
        {'id': 1, 'pos':'26.1411125,-80.149973', 'label':'Ft Lauderdale, FL', 'zoom': 12},
        {'id': 1, 'pos':'25.782324,-80.2310801', 'label':'Miami, FL', 'zoom': 12},
        {'id': 1, 'pos':'44.076486948484536, -71.22058868408203', 'label':'Bartlett, NH', 'zoom': 12},
        {'id': 1, 'pos':'40.7056258,-73.97968', 'label':'NYC', 'zoom': 12},
        {'id': 1, 'pos':'40.7636971,-73.9975487', 'label':'Pacho NYC', 'zoom': 12},
        {'id': 1, 'pos':'39.1984815,-106.8367246', 'label':'Aspen, CO', 'zoom': 12},
        {'id': 1, 'pos':'50.104148,-123.001515', 'label':'Whistler, BC', 'zoom': 12},
        {'id': 1, 'pos':'30.0219504,-89.8830829', 'label':'New Orleans, LA', 'zoom': 12},
    ];
    $scope.formLocation = $scope.locations[0];

    $scope.show = function(q) {

        while ($scope.activeMarkers.length) $scope.activeMarkers.pop().setMap(null);
    
        $scope.data = [];
        data = $scope.queue[q];
            
        for (key in data) {
            result = data[key];
            
            if (Object.keys(result).indexOf('marker') < 0)  {
                result.marker = new google.maps.Marker({
                    map: map, /* global var XXX */
                    position: result.geometry.location
                });
            }
            else result.marker.setMap( map );

            $scope.activeMarkers.push( result.marker );

            $scope.data.push( result );
            
            /* 
                callback = function(marker, row) {
                    return function() {
                        getDetails( row.place_id );
                    }
                }( result.marker, result );
                                
                result.marker.addListener('click', callback);
            */
        }
        
    };

    $scope.saveMarkers = function() {
        w = $window.open();
        tmp = {'blocked':{}, 'loaded': {}};
        
        for (x in $scope.queue['loaded']) {
            p = $scope.queue['loaded'][x];
            row = {};
            row['name'] = p['name'];
            row['geometry'] = p['geometry'];
            //row['website'] = p['website'];
            row['formatted_address'] = p['formatted_address'];
            row['formatted_phone_number'] = p['formatted_phone_number'];
            tmp['loaded'][x] = row;
        }
        
        for (x in $scope.queue['blocked']) {
            p = $scope.queue['blocked'][x];
            row = {};
            row['name'] = p['name'];
            row['geometry'] = p['geometry'];
            row['website'] = p['website'];
            row['formatted_address'] = p['formatted_address'];
            row['formatted_phone_number'] = p['formatted_phone_number'];
            tmp['blocked'][x] = row;
        }        
        w.document.write( JSON.stringify(tmp) );
    };

    $scope.doLoad = function() {

        max_per_click = 10;
        cnt = 0;
        keys = Object.keys($scope.queue['pending']);

        var service = new google.maps.places.PlacesService(map);

        var func = function(place, stat) {
            //$log.log( place );
            key = place.place_id;
            
            if (stat != google.maps.places.PlacesServiceStatus.OK) {
                    $log.log( stat );
                    return false;
            }
            delete $scope.queue['loading'][key];
            
            // block non-empty URLs, position in geojson, etc
            if (place.website == undefined) {
                $scope.queue['loaded'][key] = place;    
            }
            else $scope.queue['blocked'][key] = place;
            
        };
    
        while (cnt < max_per_click && keys.length > 0) {
            key = keys.pop();

            row = $scope.queue['pending'][key];
            req = {placeId: row.place_id};
            
            callback = (function(k) { var key = k; return func; })(key);
            
            $scope.queue['loading'][key] = row;
            delete $scope.queue['pending'][key];
            
            service.getDetails(req, callback);
            
            cnt++;
        }
        
    };
    
    $scope.doSearch = function() {

        // 12 zoom level

        var req = { bounds: map.getBounds(),
                    keyword: $scope.formInput
                  };
        
        var service = new google.maps.places.PlacesService(map);

        service.radarSearch(req, function(results, status) {
                
                if (status != google.maps.places.PlacesServiceStatus.OK) {
                    $window.alert(status);
                    return;
                }

                for (var i = 0, result; result = results[i]; i++) {

                        lat = result.geometry.location.lat;
                        lng = result.geometry.location.lng;

                        key = result.place_id;
                        if ($scope.queue['_all'][key] != undefined) continue;

                        $scope.queue['_all'][key] = result;
                        $scope.queue['pending'][key] = result;
                 }
                
        });

    };
    
    $scope.panToLocation = function() {

        row = $scope.formLocation;

        var lat = row.pos.split(',')[0];
        var lng = row.pos.split(',')[1];
        
        map.setCenter({lat: parseFloat(lat), lng: parseFloat(lng)});

    };
    
});

function test() {
    scope = angular.element("#results").scope();
    scope.$apply(function() {
        scope.data.push( {'name': "test"} ); 
    });
}

$(document).ready(function() { 
    
    initialize(); 
    
});

</script>

{% endblock %}
